<main>
    <div
      class="hero d-flex justify-content-center align-items-center"
      alt="Imagem do Projeto Apê DS"
    >
      <p class="p-2 text-white text-bold">Projeto Apê DS</p>
    </div>

  <section class="container mb-3 p-0">

      <div class="row my-5">
        <div class="col-sm p-0">
          <h1>Nome</h1>
        </div>
        <div class="col-sm p-0">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto,
            beatae fugiat velit impedit fuga reiciendis sed alias porro
            voluptates laudantium totam facilis quisquam dolor vel et quo quia
            sint perferendis!
          </p>
        </div>
      </div>

    <div class="row">
        <div class="col-sm p-0 mr-md-2">
            <img class="img-fluid" src="./../../../assets/projetos/ape-ds/AREA-GOURMET-1.effectsResult.jpg" alt="">
        </div>
        <div class="col-sm p-0 ml-md-2">
            <img class="img-fluid" src="./../../../assets/projetos/ape-ds/SUITE-CASAL-2.jpg" alt="">
        </div>
    </div>

    <div class="my-5">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi ipsa similique cum exercitationem eveniet quisquam eius quaerat odio molestias laudantium numquam quos non ex nobis pariatur fuga asperiores, perspiciatis vitae!</p>
    </div>

    <div class="row">
        <div class="col-sm p-0 mr-md-2">
            <img class="img-fluid" src="./../../../assets/projetos/ape-ds/CLOSET-4.jpg" alt="">
        </div>
        <div class="col-sm p-0 ml-md-2">
            <img class="img-fluid" src="./../../../assets/projetos/ape-ds/COZINHA-2.effectsResult.jpg" alt="">
        </div>
    </div>
    
    <div class="row">
        <img class="img-fluid" src="./../../../assets/projetos/ape-ds/cozinha-4.jpg" alt="">
    </div>

    <div class="row">
        <div class="col-sm p-0 mr-md-2">
            <img class="img-fluid" src="./../../../assets/projetos/ape-ds/ESCRITORIO-4.jpg" alt="">
        </div>
        <div class="col-sm p-0 ml-md-2">
            <img class="img-fluid" src="./../../../assets/projetos/ape-ds/HOME-OFFICE-3.jpg" alt="">
        </div>
    </div>

    <div class="row">
        <img class="img-fluid" src="./../../../assets/projetos/ape-ds/QUARTO-FILHA-1.jpg" alt="">
    </div>

    <div class="row">
        <div class="col-sm p-0 mr-md-2">
            <img class="img-fluid" src="./../../../assets/projetos/ape-ds/QUARTO-FILHA-2.jpg" alt="">
        </div>
        <div class="col-sm p-0 ml-md-2">
            <img class="img-fluid" src="./../../../assets/projetos/ape-ds/QUARTO-KIDS-2.jpg" alt="">
        </div>
    </div>

    <div class="row">
        <img class="img-fluid" src="./../../../assets/projetos/ape-ds/SALAS-1.effectsResult.jpg" alt="">
    </div>

  </section>
</main>
