<main>
  <section class="hero container-fluid mb-3"></section>

  <section class="projetos" id="projetos">
    <div class="projetos">
      <div>
        <img
          src="https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2900&q=80"
          class="img-fluid"
          alt="..."
        />
        <p class="p-2">Projeto Casa SR</p>
      </div>

      <div class="">
        <img
          src="https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2900&q=80"
          class="img-fluid"
          alt="..."
        />
        <p class="p-2">Projeto Apê DS</p>
      </div>
    </div>
  </section>

  <section class="sobre container" id="sobre">
    <div class="row d-flex align-items-center py-5">
      <div class="col">
        <p>
          Especialista em Psicoarquitetura, Eliza Reis lidera o escritório que
          leva seu nome e, com um olhar sensível, desenvolve projetos que contam
          histórias e transformam a conexão entre uma família e seu lar.
        </p>
        <p>
          Aqui, todos os estilos são apreciados e valorizados, desde o contemporâneo
          até o clássico, do rústico ao tecnológico, sempre entendendo a
          personalidade de cada cliente.
        </p>
        <p>
          Criamos soluções únicas e inovadoras
          para projetos de arquitetura e interiores residenciais e comerciais
          que transmitem emoção através de cores, linhas e texturas.
        </p>
      </div>
      <div class="col">
        <img
          src="https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2900&q=80"
          class="img-fluid"
          alt="..."
        />
      </div>
    </div>
  </section>

  <!-- <section id="metodologia" class="container">
    <div class="row">
      <div class="col">
        <h1>Minha metodologia é orientada pela busca por designs atemporais</h1>
      </div>
      <div class="col">
        Na concepção de cada projeto, priorizo a combinação perfeita entre
        estética, funcionalidade e sustentabilidade. Meu compromisso é criar
        espaços que vão além do óbvio, aproveitando cada centímetro disponível
        de forma inteligente e criativa.
      </div>

      <div class="row">
        <div class="col">
          <h2>Pesquisa</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique.
          </p>
        </div>
        <div class="col">
          <h2>Pesquisa</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique.
          </p>
        </div>
        <div class="col">
          <h2>Pesquisa</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="cta container">
    <div class="jumbotron">
      <h1>
        Se você está buscando transformar um espaço existente ou criar um novo
        projeto, estou aqui para te ajudar a concretizar sua visão.
      </h1>
    </div>
  </section> -->
</main>
