<main>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-white" href="#">Eliza Reis</a>
    <button
      class="navbar-toggler white"
      type="button"
      data-toggle="collapse"
      data-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll"
        style="max-height: 100px"
      >
        <li class="nav-item">
          <a class="nav-link" href="#projetos">Projetos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sobre">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Metodologia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contato</a>
        </li>
      </ul>
    </div>
  </nav>

  <section class="hero container-fluid">
  </section>

  <section class="projetos" id="projetos">
    <div class="projetos">
      <div class="">
        <img
          src="https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2900&q=80"
          class="img-fluid"
          alt="..."
        />
        <p>Projeto 1</p>
      </div>
      <div class="">
        <img
          src="https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2900&q=80"
          class="img-fluid"
          alt="..."
        />
        <p>Projeto 2</p>
      </div>
    </div>
  </section>

  <section class="sobre container" id="sobre">
    <div class="row">
      <div class="col">
        <p>
          Oi, meu nome é Eliza ReisComo arquiteta, minha jornada começou com o
          objetivo de criar lares e espaços comerciais que refletem a
          personalidade e o estilo de vida de meus clientes. Com uma sólida
          formação acadêmica e anos de experiência no mercado, estou empenhada
          em oferecer soluções de design sob medida e que superem as
          expectativas de cada cliente.
        </p>
      </div>
      <div class="col">
        <img
          src="https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2900&q=80"
          class="img-fluid"
          alt="..."
        />
      </div>
    </div>
  </section>

  <section id="metodologia" class="container">
    <div class="row">
      <div class="col">
        <h1>Minha metodologia é orientada pela busca por designs atemporais</h1>
      </div>
      <div class="col">
        Na concepção de cada projeto, priorizo a combinação perfeita entre
        estética, funcionalidade e sustentabilidade. Meu compromisso é criar
        espaços que vão além do óbvio, aproveitando cada centímetro disponível
        de forma inteligente e criativa.
      </div>

      <div class="row">
        <div class="col">
          <h2>Pesquisa</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique.
          </p>
        </div>
        <div class="col">
          <h2>Pesquisa</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique.
          </p>
        </div>
        <div class="col">
          <h2>Pesquisa</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="cta container">
    <div class="jumbotron">
      <h1>
        Se você está buscando transformar um espaço existente ou criar um novo
        projeto, estou aqui para te ajudar a concretizar sua visão.
      </h1>
    </div>
  </section>
</main>
